{% extends "cards/employer_jobs.html" %}
<!-- disable no refresh -->
{% block no_refresh_js %}
{% endblock %}

{% block job_section_title %}
<h1>Job</h1>
{% endblock %}

{% block job_section_menu %}
<nav class="navbar navbar-minimal animate" role="navigation">
	<div class="navbar-toggler animate">
		<span class="menu-icon"></span>
	</div>
	<ul class="navbar-menu animate">
		<li>
			<a href="#matchemployees" class="animate" id="match">
				<span class="desc animate">View matching employees</span>
				<span class="glyphicon glyphicon-user"></span>
			</a>
		</li>
		{% if job %}
		{% ifequal job.status "PUBLISHED" %}
		<li>
			<a href="#unpublish" class="animate">
				<span class="desc animate"> Unpublish </span>
				<span class="glyphicon glyphicon-info-sign"></span>
			</a>
		</li>
		{% endifequal %}
		{% ifequal job.status "EXPIRED" %}
		<li>
			<a href="#expired" class="animate">
				<span class="desc animate"> Job Expired </span>
				<span class="glyphicon glyphicon-info-sign"></span>
			</a>
		</li>
		{% endifequal %}
		{% ifequal job.status "DRAFT" %}
		<li>
			<a href="#unpublish" class="animate">
				<span class="desc animate"> Publish </span>
				<span class="glyphicon glyphicon-info-sign"></span>
			</a>
		</li>
		{% endifequal %}
		{% endif %}
		<li>
			<a href="#edit-job" class="animate" id="edit_job">
				<span class="desc animate"> Edit Job </span>
				<span class="glyphicon glyphicon-info-sign"></span>
			</a>
		</li>
	</ul>
</nav>
{% endblock %}

{% block job_section %}
<div class="row">
<div class="col-xs-8">	

{% if job %}
<h4 class="media-heading"><label class="muted">Title:</label> {{job.title}} <small> in {{job.location}}</small></h4>
<h4 class="media-heading"><label class="muted">Work type:</label> {{job.work_type}} </h4>
<h4 class="media-heading"><label class="muted">Category:</label> {{job.category.name}} </h4>
<h4 class="media-heading"><label class="muted">Education:</label> {{job.education}} </h4>
<h4 class="media-heading"><label class="muted">Skills:</label> {{job.get_skills}} </h4>
<h4 class="media-heading"><label class="muted">Experience:</label> {{job.experience}} </h4>
<h4 class="media-heading"><label class="muted">Responsibilities:</label> {{job.responsibilities}} </h4>
<h4 class="media-heading"><label class="muted">Salary:</label> {{job.salary}} </h4>
<h4 class="media-heading"><label class="muted">How to Apply:</label> {{job.how_to_apply}} <small>through {{job.application_link}}</small> </h4>
<h4 class="media-heading"><label class="muted">Go live Date:</label> {{job.go_live_date}} </h4>
<h4 class="media-heading"><label class="muted">Status:</label> {{job.status}} </h4>
<small class="hidden" id="job_id" job_id={{job.id}}>{{job.id}}</small>
{% else %}
<p>No job with such id</p>
{% endif %}
</div>

<div class="col-xs-4" id="show-employees">
</div>
</div>
<!-- Modal -->
<div class="modal faded" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Applicant Details</h4>
      </div>
      <div class="modal-body" id="modalDet">
      </div>
      <div class="modal-body">
      <textarea id="message" class="form-control" placeholder="Enter custom message here. <HTML allowed>"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="contact">Contact</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footer_js %}
<script type="text/javascript">
	$(function () {
       
    $('#fullscreen').on('click', function(event) {
        event.preventDefault();
        window.parent.location =  $('#fullscreen').attr('href');
    });
    $('#fullscreen').tooltip();
    /* END DEMO OF JS */
    
    $('.navbar-toggler').on('click', function(event) {
		event.preventDefault();
		$(this).closest('.navbar-minimal').toggleClass('open');
	})

	// click functions
	$('#match').on('click', function(event) {
		$('.navbar-toggler').click();
		var job_id = $('#job_id').attr("job_id");
		$.ajax({
	           type: "post",
	           url: "/post/search/employee/",
	           data: {
	           	"job_id":job_id,
	            'csrfmiddlewaretoken':'{{csrf_token}}',
	           },
	           dataType: 'json',
	           beforeSend: function(){   
	               $("#show-employees").html("<div class='alert alert-info'>crunching data. please wait  <img src='/static/custom/img/loading.gif'></div>");
	           },
	           success:function(response){
	            if(response['error'])
	            {
	                // errors in data 
	                $("#show-employees").html("<div class='alert alert-warning alert-dismissible' role='alert'>"+response['error']+"</div>");
	            }
	            else
	            {
	            	var html='<h5 class="media-heading"><label class="muted">We though these employees are appropriate for the job</label></h5>';
	            	for(var i=0;i<response['employee_list'].length;i++)
	            	{
	            		html += '<h5 class="media-heading"><a href="#" class="show_user" user_id="'+response['employee_list'][i]['user_id']+'"><label class="muted">'+response['employee_list'][i]['first_name']+' '+response['employee_list'][i]['last_name']+' - '+response['employee_list'][i]['experience']+'</label></a><span id="loading'+response['employee_list'][i]['user_id']+'"></span></h5>';
	            	}
	                $("#show-employees").html(html);
	               
	            }

	           }
	       });
	});

	$(document).on('click', '.show_user', function(){
		var user_id = $(this).attr("user_id");
		$.ajax({
	           type: "post",
	           url: "/get/employee/",
	           data: {
	           	"user_id":user_id,
	            'csrfmiddlewaretoken':'{{csrf_token}}',
	           },
	           dataType: 'json',
	           beforeSend: function(){  

	               $("#loading"+user_id).html("  <i>please wait  <img src='/static/custom/img/loading.gif'></i>");
	           },
	           success:function(response){
	           	$('#myModal').modal();
	            if(response['error'])
	            {
	                // errors in data 
	                $("#modalDet").html("<div class='alert alert-warning alert-dismissible' role='alert'>"+response['error']+"</div>");
	               
	            }
	            else
	            {
	            	var html='<h5 class="media-heading"><label class="muted">First Name: '+response['user_det']['first_name']+'</label></h5>';
	            	html+='<h5 class="media-heading"><label class="muted">Last Name: '+response['user_det']['last_name']+'</label></h5>';
	            	html+='<h5 class="media-heading"><label class="muted">Experience: '+response['user_det']['experience']+'</label></h5>';
	            	html+='<h5 class="media-heading"><label class="muted">Field of Intrest: '+response['user_det']['field_of_intrest']+'</label></h5>';
	            	html+='<h5 class="media-heading"><label class="muted">Skills: '+response['user_det']['skills']+'</label></h5>';
	            	html+='<h5 class="media-heading"><label class="muted">Education: '+response['user_det']['education']+'</label></h5>';
	            	html+='<h5 class="media-heading"><label class="muted">Salary: '+response['user_det']['salary']+'</label></h5>';
	            	html+='<h5 class="media-heading"><label class="muted" id="user_email" user_id="'+response['user_det']['user_id']+'">Email: <a href="mailto:'+response['user_det']['email']+'">'+response['user_det']['email']+'</a></label></h5>';
	            	html+='<h5 class="media-heading"><label class="muted" id="send_message"></label></h5>';
	            	
	                $("#modalDet").html(html);
	                $('#myModal').modal();

	            }
	            $("#loading"+user_id).html("");
	           }
	       });
	});

	$(document).on('click', '#contact', function(){
		var user_id = $("#user_email").attr("user_id");
		var message = $("#message").val();
		var job_id = $('#job_id').attr("job_id");
		$.ajax({
	           type: "post",
	           url: "/send/employee/message/",
	           data: {
	           	"user_id":user_id,
	           	"message":message,
	           	"job_id":job_id,
	            'csrfmiddlewaretoken':'{{csrf_token}}',
	           },
	           dataType: 'json',
	           beforeSend: function(){  

	               $("#send_message").html("  <i>sending message. please wait  <img src='/static/custom/img/loading.gif'></i>");
	           },
	           success:function(response){
	           	$("#send_message").html("");
	           	if(response['error'])
	            {
	                // errors in data 
	                $("#send_message").html("<div class='alert alert-warning alert-dismissible' role='alert'>"+response['error']+"</div>");
	               
	            }
	            else
	            {
	            	$("#send_message").html("<div class='alert alert-success alert-dismissible' role='alert'>"+response['success']+"</div>");
	            }

	           }
	       });

	});
});
</script>
{% endblock %}
