{% extends "base.html" %}
{% block login_register %}
{% endblock %}

{% block post_job %}
    <li><a href="/employer/jobs/">View Posted Jobs</a></li>
    <li><a href="/">Post Job</a></li>
{% endblock %}


{% block head_css %}
<style type="text/css">
  .wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}
</style>
{% endblock %}
{% block body %}
  <div class="row">
    <section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1 : Job Details">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-folder-open"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2: Candidate Requirements">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3 : How to receive applications ?">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-picture"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete : Preview and publish">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <form role="form">
                <div class="tab-content disabled">
                    <div class="tab-pane active" role="tabpanel" id="step1">
                        <h3>Step 1 : Job Details</h3>
                        <div class="row jumbotron">
                            <form class="form-inline">
                            <input type="hidden" id="job_id">
                            {% csrf_token %}
                            <div class="form-group" id="error1">

                            </div>
                              <div class="form-group">
                                <input type="text" class="form-control" id="title" placeholder="what's the job title ?">
                              </div>
                              <div class="form-group">
                                <select class="form-control" id="location" name="location" placeholder="Location">
                                  <option value="Everywhere">Everywhere</option>
                                  <option value="Kenya" selected>Kenya</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <select class="form-control" id="job_level" name="job_level" placeholder="Job Level">
                                  <option value="Entry">Entry</option>
                                  <option value="Experienced" selected>Experienced</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <select class="form-control" id="experience" name="experience" placeholder="Experience">
                                  <option value="No Experience" selected>No Experience</option>
                                  <option value="1-2 years">1-2 years</option>
                                  <option value="3-5 years">3-5 years</option>
                                  <option value="Over 5 years">Over 5 years</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <select class="form-control" id="category" name="category" placeholder="Category">
                                    {% for category in categories %}
                                    <option value="{{category.name}}">{{category.name}}</option>
                                    {% endfor %}
                                    
                                </select>
                              </div>
                            </form>
                            </div>
            
                        <ul class="list-inline pull-right">
                            <li><button type="button" id="step-1" class="btn btn-primary nedxt-step">Save and continue</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step2">
                        <h3>Step 2: Candidate Requirements</h3>
                        <div class="row jumbotron">
                            {% csrf_token %}
                            <div class="form-group" id="error2">

                            </div>
                              <div class="form-group">
                                <label for="none">Education requirements</label>
                                <div class="form-inline">                                    
                                    <label>None</label>
                                    <input type="radio" class="education" id="none" name="education[]" value="none" checked>
                                    <label>Diploma</label>
                                    <input type="radio" class="education" id="diploma" name="education[]" value="diploma">
                                    <label>Degree</label>
                                    <input type="radio" class="education" id="degree" name="education[]" value="degree">
                                </div>
                              </div>
                              <div class="form-group">
                                <!-- <input type="text" class="form-control" id="skills" placeholder="what are the skills required for this job ?"> -->
                                <label for="none">Skills</label>
                                <div id='skills'></div>
                              </div>
                              <div class="form-group">
                                <textarea class="form-control" id="responsibilities" name="responsibilities" placeholder="What will be the reposnsibilities of the candidate"></textarea>
                              </div>
                              <div class="form-group">
                                <div class="form-inline">                                    
                                    <label><label for="none">What salary are you providing for this job ?</label></label>
                                    From (ksh) <input type="input" id="from_salary" name="from_salary" placeholder="e.g. 80,000">
                                    To (ksh) <input type="input" id="to_salary" name="to_salary" placeholder="e.g. 90,000">
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="form-inline">
                                    <label>Do you wish to publish salary to candidate ?</label>
                                    <input type="radio" name="publish_salary" id="publish_salary" value="yes"> yes
                                    <input type="radio" name="publish_salary" id="publish_salary" checked value="no"> no
                                </div>
                              </div>
                            </div>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                            <li><button type="button" id="step-2" class="btn btn-primary next-stfep">Save and continue</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step3">
                        <h3>Step 3 : How to receive applications ?</h3>
                        <div class="row jumbotron">
                            {% csrf_token %}
                            <div class="form-group" id="error3">

                            </div>
                              <div class="form-group">
                                <label>How do you wish to receive applications ?</label>
                                <select class="form-control" id="application_method" name="application_method">
                                  <option value="SELF" selected>Job System</option>
                                  <option value="EMAIL">Email</option>
                                  <option value="EXTERNAL">External link</option>
                                </select>
                              </div>
                              <div class="form-group">
                              <div class="form-inline">
                                <input type="input" id="application_link" class="form-control" name="" placeholder="Application Email">
                                </div>
                              </div>
                              <div class="form-group">
                              <label>Tell us some information about the company ?</label>
                                <textarea class="form-control" id="company_profile" name="company_profile" placeholder="company profile"></textarea>
                              </div>
                            </div>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
                            <li><button type="button" class="btn btn-default next-step">Skip</button></li>
                            <li><button type="button" id="step-3" class="btn btn-primary btn-info-full next-stecp">Save and continue</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="complete">
                        <h3>Complete : Preview and publish</h3>
                        <!-- ///////////////////////////////////////////////////////////////// -->
                        <div id="summary"></div>
                        <!-- //////////////////////////////////////////////////////////////////// -->
                        <p>You have successfully completed all steps.</p>
                        <ul class="list-inline pull-right form-inline">
                            <li><a href="/"><button type="button" id="" class="btn btn-primary next-step">Leave as Draft</button></a></li>
                            <li><button type="button" id="publish" class="btn btn-primary next-step">Publish</button></li>
                        </ul>
                    </div>
                    
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </section>
   </div>
{% endblock %}

{% block footer_js %}
<script type="text/javascript">
  $(document).ready(function () {

    {% block no_refresh_js %}
    window.onbeforeunload = function() {
        return "Hi {{user.username }}, are you sure you want to leave? Some data may be lost!";
    }
    {% endblock %}
    // load taggle js here
    window.label_input = new Taggle('skills',{
        // tags:"{{skills}}".split(","),
        preserveCase:true,
      });
    $('.taggle_input').attr("placeholder","type your skills here");
    window.container = window.label_input.getContainer();


    //Initialize tooltips
    $('.nav-tabs > li a[title]').tooltip();
    
    //Wizard
    $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

        var $target = $(e.target);
    
        if ($target.parent().hasClass('disabled')) {
            return false;
        }
    });

    $(".next-step").click(function (e) {

        var $active = $('.wizard .nav-tabs li.active');
        $active.next().removeClass('disabled');

        console.log($active);

        nextTab($active);

    });
    $(".prev-step").click(function (e) {

        var $active = $('.wizard .nav-tabs li.active');
        prevTab($active);

    });
});

function nextTab(elem) {
    $(elem).next().find('a[data-toggle="tab"]').click();
}
function prevTab(elem) {
    $(elem).prev().find('a[data-toggle="tab"]').click();
}

$('#step-1').click(function(){
    var str_title = $('#title').val();
    var str_location = $('#location').val();
    var str_job_level = $('#job_level').val();
    var str_experience = $('#experience').val();
    var str_category = $('#category').val();
    var str_saved_job = $('#job_id').val();
    $.ajax({
           type: "post",
           url: "/post/job/",
           data: {
            "title" : str_title,
            "location" : str_location,
            "job_level" : str_job_level,
            "experience" : str_experience,
            "category" : str_category,
            "saved_job" : str_saved_job,
            "step" : "step-1",
            'csrfmiddlewaretoken':'{{csrf_token}}',
           },
           dataType: 'json',
           beforeSend: function(){   
               $("#error1").html("<div class='alert alert-info'>crunching data. please wait  <img src='/static/custom/img/loading.gif'></div>");
           },
           success:function(response){
            if(response['errors'])
            {
                // errors in data 
                $("#error1").html("<div class='alert alert-warning alert-dismissible' role='alert'>"+response['errors']+"</div>");
            }
            else
            {
                $("#job_id").val(response['saved_job']['job_id']);
                $("#error1").html("<div class='alert alert-success alert-dismissible' role='alert'>saved successfully</div>");
                // go to next tab
                var $active = $('.wizard .nav-tabs li.active');
                $active.next().removeClass('disabled');

                nextTab($active);
            }

           }
       });
});
$('#step-2').click(function(){
    var str_education = $('.education:checked').val();
    var str_skills = window.label_input.getTags().values.join();//$('#skills').val();
    var str_responsibilities = $('#responsibilities').val();
    var str_from_salary = $('#from_salary').val();
    var str_to_salary = $('#to_salary').val();
    var str_publish_salary = $('#publish_salary').val();
    var str_saved_job = $('#job_id').val();
    $.ajax({
           type: "post",
           url: "/post/job/",
           data: {
            "education" : str_education,
            "skills" : str_skills,
            'responsibilities' : str_responsibilities,
            "from_salary" : str_from_salary,
            "to_salary" : str_to_salary,
            "publish_salary" : str_publish_salary,
            "saved_job" : str_saved_job,
            "step" : "step-2",
            'csrfmiddlewaretoken':'{{csrf_token}}',
           },
           dataType: 'json',
           beforeSend: function(){   
               $("#error2").html("<div class='alert alert-info'>crunching data. please wait  <img src='/static/custom/img/loading.gif'></div>");
           },
           success:function(response){
            if(response['errors'])
            {
                // errors in data 
                $("#error2").html("<div class='alert alert-warning alert-dismissible' role='alert'>"+response['errors']+"</div>");
            }
            else
            {
                $("#job_id").val(response['saved_job']['job_id']);
                $("#error2").html("<div class='alert alert-success alert-dismissible' role='alert'>saved successfully</div>");
                // go to next tab
                var $active = $('.wizard .nav-tabs li.active');
                $active.next().removeClass('disabled');

                nextTab($active);

                // load the prefilled data here
            }

           }
       });
});
$('#step-3').click(function(){
    var str_application_method = $('#application_method').val();
    var str_application_link = $('#application_link').val();
    var str_company_profile = $('#company_profile').val();
    var str_saved_job = $('#job_id').val();
    $.ajax({
           type: "post",
           url: "/post/job/",
           data: {
            "application_method" : str_application_method,
            "application_link" : str_application_link,
            'company_profile' : str_company_profile,
            "saved_job" : str_saved_job,
            "step" : "step-3",
            'csrfmiddlewaretoken':'{{csrf_token}}',
           },
           dataType: 'json',
           beforeSend: function(){   
               $("#error3").html("<div class='alert alert-info'>crunching data. please wait  <img src='/static/custom/img/loading.gif'></div>");
           },
           success:function(response){
            if(response['errors'])
            {
                // errors in data 
                $("#error3").html("<div class='alert alert-warning alert-dismissible' role='alert'>"+response['errors']+"</div>");
            }
            else
            {
                $("#job_id").val(response['saved_job']['job_id']);
                $("#error3").html("<div class='alert alert-success alert-dismissible' role='alert'>saved successfully</div>");
                // go to next tab
                var $active = $('.wizard .nav-tabs li.active');
                $active.next().removeClass('disabled');

                nextTab($active);
                $("#summary").html(show_summary(response));
            }

           }
       });
});
$('#publish').click(function(){
    var str_saved_job = $('#job_id').val();
    $.ajax({
           type: "post",
           url: "/post/job/",
           data: {
            "saved_job" : str_saved_job,
            "step" : "step-4",
            'csrfmiddlewaretoken':'{{csrf_token}}',
           },
           dataType: 'json',
           beforeSend: function(){   
               $("#error3").html("<div class='alert alert-info'>crunching data. please wait  <img src='/static/custom/img/loading.gif'></div>");
           },
           success:function(response){
            if(response['errors'])
            {
                // errors in data 
                $("#error3").html("<div class='alert alert-warning alert-dismissible' role='alert'>"+response['errors']+"</div>");
            }
            else
            {
                $("#job_id").val(response['saved_job']['job_id']);
                $("#error3").html("<div class='alert alert-success alert-dismissible' role='alert'>saved successfully</div>");
                // go to next tab
                var $active = $('.wizard .nav-tabs li.active');
                $active.next().removeClass('disabled');

                nextTab($active);
                $("#summary").html("<div class='alert alert-success alert-dismissible' role='alert'>job has been posted</div>");
            }

           }
       });
});

$('#application_link').hide();
$('#application_method').change(function(){
    $('#application_link').hide();
    
    if($('#application_method').val()=="EMAIL")
    {
        $('#application_link').show();
        $('#application_link').attr("placeholder","Enter the email to send applications here");
    }
    else if($('#application_method').val()=="EXTERNAL")
    {
        $('#application_link').show();
        $('#application_link').attr("placeholder","Enter the external link here. Start with http://");
    }
    else{}

    });

function show_summary(response){
    var template = '<div class="row m-b-80">'+
                            '<div class="col-md-12 col-sm-12">'+
                              '<ul id="services-list" class="list-unstyled">'+
                                '<li>'+
                                 '<i class="fa fa-bolt"></i>'+
                                  '<h3 class="text-primary">Step 1: Job Details</h3>'+
                                  '<div class="form-inline lead"><label >Title</label><label class="text-muted">'+response['saved_job']['title']+'</label></div>'+
                                  '<div class="form-inline lead"><label >Location</label><label class="text-muted">'+response['saved_job']['location']+'</label></div>'+
                                  '<div class="form-inline lead"><label >Work type</label><label class="text-muted">'+response['saved_job']['work_type']+'</label></div>'+
                                  '<div class="form-inline lead"><label >Experience</label><label class="text-muted">'+response['saved_job']['experience']+'</label></div>'+
                                  '<div class="form-inline lead"><label >Job Category</label><label class="text-muted">'+response['saved_job']['category']+'</label></div>'+
                                '</li>'+
                                '<li>'+
                                  '<i class="fa fa-check"></i>'+
                                  '<h3 class="text-primary">Step 2: Candidate requirements</h3>'+
                                  '<div class="form-inline lead"><label >Education Requirements</label><label class="text-muted">'+response['saved_job']['education']+'</label></div>'+
                                  '<div class="form-inline lead"><label >Skills</label><label class="text-muted">'+response['saved_job']['skills']+'</label></div>'+
                                  '<div class="form-inline lead"><label >Responsibilities</label><label class="text-muted">'+response['saved_job']['responsibilities']+'</label></div>'+
                                  '<div class="form-inline lead"><label >Salary</label><label class="text-muted">'+response['saved_job']['salary']+'</label></div>'+
                                  '<div class="form-inline lead"><label >Do you wish to publish slary to candidate ?</label><label class="text-muted">'+response['saved_job']['publish_salary']+'</label></div>'+
                                '</li>'+
                                '<li>'+
                                  '<i class="fa fa-comments-o"></i>'+
                                  '<h3 class="text-primary">Step 3: How to receive applications</h3>'+
                                  '<div class="form-inline lead"><label >How to receive applications</label><label class="text-muted">'+response['saved_job']['how_to_apply']+'</label></div>'+
                                  '<div class="form-inline lead"><label >Company profile</label><label class="text-muted">'+response['saved_job']['company_profile']+'</label></div>'+
                                '</li>'+
                              '</ul>'+
                            '</div>'+
                            '<div class="col-md-7 col-md-offset-1 col-sm-7 text-center">'+
                            '</div>'+
                        '</div>';
    return template;
}
</script>
{% endblock %}