<!DOCTYPE html>
{% load staticfiles %}
{% include 'material/includes/material_css.html' %}
<script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
{% include 'material/includes/material_js.html' %}
{% load material_form %} 

<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>{% block title %}Job System{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="a sample job system app">
    <meta name="author" content="simon muthusi">

    
    <!-- css -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" 
          rel="stylesheet" media="screen">
    <link href="{% static "bootstrap/css/bootstrap-theme.min.css" %}" 
          rel="stylesheet" media="screen">
  	<link href="{% static "custom/css/custom.css" %}"
            rel="stylesheet">
    <link href="{% static "custom/css/navbar-fixed-top.css" %}"
            rel="stylesheet">
    <link href='{% static "font/css" %}' rel='stylesheet' type='text/css'>
    <link href='{% static "font/css-oxygen" %}' rel='stylesheet' type='text/css'>
    <link href='{% static "font/font-awesome.min.css" %}' rel='stylesheet' type='text/css'>

    <link href="{% static "taggle/css/taggle.css" %}" rel="stylesheet" type="text/css"/>

    {% block head_css %}
    {% endblock %}

  </head>

  <body>
  {% block header %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Job System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
        {% block login_register %}
          <li><a href="{% url 'login_page' %}">Login</a></li>
          <li><a href="{% url 'register_page' %}">Register</a></li>
        {% endblock %}
        {% block post_job %}
          <li><a href="/">Post Job</a></li>
        {% endblock %}
          {% block user_menu %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi, {{ user.username }}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if user_type == "EMPLOYER" %}
                <li><a href="/">View Profile</a></li>
                {% else %}
                <li><a href="{% url 'profile_page' %}">View Profile</a></li>
                {% endif %}
                
                <li><a href="{% url 'logout_page' %}">Log-out</a></li>
                <li role="separator" class="divider"></li>
                {% block user_admin %}
                <li><a href="/admin/" target="_blank">Admin</a></li>
                {% endblock %}
              </ul> 
            </li>
          {% endblock %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  {% endblock %}
  <div class="container">
  {% block body %}
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Sample job system</h1>
        <p>Sample job system.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
      </div>
  {% endblock %}
  </div>


  {% block footer %}
  <footer class="footer">
      <div class="container">
        <p class="text-muted">The job system. Developed by <a href="https://www.sim-on.net" target="_blank">simon</a></p>
      </div>
    </footer>
  {% endblock %}
  
  <!-- js -->
  <script src="{% static 'jquery/jquery.min.js' %}"></script>
  <script src="{% static 'jquery/jquery.modal.min.js' %}" charset="utf-8"></script>
  <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  
  <script src="{% static "taggle/js/taggle.js" %}"></script>
  <script src="{% static "taggle/js/taggle-ie8.js" %}"></script>
  <script src="{% static "taggle/js/taggle-ie9.js" %}"></script>

  {% block footer_js %}

  {% endblock %}
  </body>

</html>
