{% extends "base.html" %}
{% block head_css %}
<style type="text/css">
  
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.ds-btn li{ list-style:none; float:left; padding:10px; }
.ds-btn li a span{padding-left:15px;padding-right:5px;width:100%;display:inline-block; text-align:left;}
.ds-btn li a span small{width:100%; display:inline-block; text-align:left;}
</style>

{% endblock %}
{% block body %}
      <form class="form-signin" method="post" action="">
      {% csrf_token %}
      {% if login_error %}
        <h2 class="text-error login-header">{{ login_error }}</h2>
      {% endif %}
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="input" id="inputEmail" name="username" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>

      </form>

      <div class="row">
         <h2>Sign in to access</h2>
        <ul class="ds-btn">
            <li>
                 <a class="btn btn-lg btn-primary" href="http://dotstrap.com/">
              <i class="glyphicon glyphicon-user pull-left"></i><span>Job Seekers and Skills<br><small>skilled personnel to work on your projects</small></span></a> 
                
            </li>
            <li>
                 <a class="btn btn-lg btn-success " href="http://dotstrap.com/">
             <i class="glyphicon glyphicon-dashboard pull-left"></i><span>Dashboard<br><small>A way to manage all job/work posted.</small></span></a> 
                
            </li>
            <li>
                 <a class="btn btn-lg btn-danger" href="http://dotstrap.com/">
             <i class="glyphicon glyphicon-tasks pull-left"></i><span>Daily Tasks<br><small></small></span></a> 
                
            </li>
            <li>
                   <a class="btn btn-lg btn-warning" href="http://dotstrap.com/">
            <i class="glyphicon glyphicon-search pull-left"></i><span>Search<br><small>Search and match skills</small></span></a> 
            </li>
        </ul>
        
      </div>
    <!-- </div> -->
  {% endblock %}
  {% block user_menu %}
  {% endblock %}