{% extends "base.html" %}
{% block login_register %}
{% endblock %}

{% block luser_admin %}
{% endblock %}

{% block post_job %}
          <li><a href="/jobs/employee/">View Jobs</a></li>
{% endblock %}

{% block body %}
<h3>Tell us more about yourself</h3>
      <div class="row jumbotron">
        <form class="">
        <input type="hidden" id="job_id">
        {% csrf_token %}
        <div class="form-group" id="error">

        </div>
         <div class="form-group">
          <label>First Name</label>
            <input type="text" class="form-control" id="first_name" value="{{user.first_name}}" placeholder="First Name">
          </div>

          <div class="form-group">
          <label>Last Name</label>
            <input type="text" class="form-control" id="last_name" value="{{user.last_name}}" placeholder="Last Name">
          </div>

          <div class="form-group">
          <label>Highest level of education</label>
            <div class="form-inline">                                    
                <label>None</label>
                <input type="radio" class="education" id="none" name="education[]" checked value="none">
                <label>Diploma</label>
                <input type="radio" class="education" id="diploma" name="education[]" value="diploma">
                <label>Degree</label>
                <input type="radio" class="education" id="degree" name="education[]" value="degree">
            </div>
          </div>

          <div class="form-group">
          <label>Experience</label>
            <select class="form-control" id="experience" name="experience" placeholder="Experience">
              <option value="No Experience" selected>No Experience</option>
              <option value="1-2 years">1-2 years</option>
              <option value="3-5 years">3-5 years</option>
              <option value="Over 5 years">Over 5 years</option>
            </select>
          </div>

          <div class="form-group">
          <label>Field of Intrest</label>
            <select class="form-control" id="category" name="category" placeholder="Category">
              {% for category in categories %}
              <option value="{{category.name}}">{{category.name}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
          <label>Skills</label>
            <!-- <input type="text" class="form-control" id="skills" value="{{user.user_info.applicant.get_skills}}" placeholder="Enter your skills here"> -->
            <label for="none">Skills</label>
            <div id="skills"></div>
          </div>

          <div class="form-group">
          <label>Salary</label>
            <div class="form-inline">                                    
                <label><label for="none">What salary are you providing for this job ?</label></label>
                From (ksh) <input type="input" id="from_salary" name="from_salary" placeholder="e.g. 80,000">
                To (ksh) <input type="input" id="to_salary" name="to_salary" placeholder="e.g. 90,000">
            </div>
          </div>
          <ul class="list-inline pull-right">
            <li><button type="button" id="save-profile" class="btn btn-primary nedxt-step">Save</button></li>
        </ul>
        </form>
        </div>
  {% endblock %}
  {% block footer_js %}
  <script type="text/javascript">
  $(document).ready(function () {

    // / initialize taggle here 
    window.label_input = new Taggle('skills',{
        // tags:"{{skills}}".split(","),
        preserveCase:true,
      });
    $('.taggle_input').attr("placeholder","type your skills here");
    window.container = window.label_input.getContainer();

    
    // populate salary here
    var salary = "{{user.user_info.applicant.salary}}";
    $('#from_salary').val(salary.split("-")[0]);
    $('#to_salary').val(salary.split("-")[1]);
    $("#{{user.user_info.applicant.education}}").prop("checked", true);

  	$('#save-profile').click(function(){
  	var first_name = 	$('#first_name').val();
  	var last_name = 	$('#last_name').val();
  	var education = 	$('.education:checked').val();
  	var experience = 	$('#experience').val();
  	var category = 	$('#category').val();
  	var skills = 	window.label_input.getTags().values.join();//$('#skills').val();$('#skills').val();
  	var from_salary = 	$('#from_salary').val();
  	var to_salary = 	$('#to_salary').val();
    $.ajax({
           type: "post",
           url: "/post/update/profile/",
           data: {
            "first_name" : first_name,
            "last_name" : last_name,
            "education" : education,
            "experience" : experience,
            "category" : category,
            "skills" : skills,
            "from_salary" : from_salary,
            "to_salary" : to_salary,
            'csrfmiddlewaretoken':'{{csrf_token}}',
           },
           dataType: 'json',
           beforeSend: function(){   
               $("#error").html("<div class='alert alert-info'>crunching data. please wait  <img src='/static/custom/img/loading.gif'></div>");
           },
           success:function(response){
            if(response['error'])
            {
                // errors in data 
                $("#error").html("<div class='alert alert-warning alert-dismissible' role='alert'>"+response['error']+"</div>");
            }
            else
            {
                $("#error").html("<div class='alert alert-success alert-dismissible' role='alert'>"+response['success']+"</div>");
            }

           }
       });
});
  });
  </script>
  {% endblock %}