{% extends "base.html" %}
{% block user_menu %}
  {% endblock %}
{% block head_css %}
<style type="text/css">
  .main{
  margin-top: 70px;
}

h1.title { 
  font-size: 50px;
  font-family: 'Passion One', cursive; 
  font-weight: 400; 
}

hr{
  width: 10%;
  color: #fff;
}

.form-group{
  margin-bottom: 15px;
}

label{
  margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
  background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
  margin-top: 30px;
  margin: 0 auto;
  max-width: 330px;
    padding: 40px 40px;

}

.login-button{
  margin-top: 5px;
}

.login-register{
  font-size: 11px;
  text-align: center;
}
</style>
{% endblock %}
{% block body %}
        <div class="main-login main-center">
          <form class="form-horizontal" method="post" action="#">

            <div class="form-group" id="error">
            </div>

            <div class="form-group">
              <label for="email" class="cols-sm-2 control-label">Your Email</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="confirm" class="cols-sm-2 control-label">What are you looking for ?</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <select class="form-control" id="account-type">
                    <option value="EMPLOYEE">jobs</option>
                    <option value="EMPLOYER">employees</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group ">
              <button type="button" id="register" class="btn btn-primary btn-lg btn-block login-button">Register</button>
            </div>
            <div class="login-register" id="login">
                    <a class="" href="{% url 'login_page' %}">Login</a>
                 </div>
          </form>
        </div>
  {% endblock %}

  {% block footer_js %}
  <script type="text/javascript">
    $('#register').click(function(){
    var str_email = $('#email').val();
    var str_account_type = $('#account-type').val();
    $.ajax({
           type: "post",
           url: "/post/register/",
           data: {
            "email" : str_email,
            "account-type" : str_account_type,
            'csrfmiddlewaretoken':'{{csrf_token}}',
           },
           dataType: 'json',
           beforeSend: function(){   
               $("#error").html("<div class='alert alert-info'>crunching data. please wait  <img src='/static/custom/img/loading.gif'></div>");
           },
           success:function(response){
            if(response['error'])
            {
                // errors in data 
                $("#error").html("<div class='alert alert-warning alert-dismissible' role='alert'>"+response['error']+"</div>");
            }
            else
            {
                $("#error").html("<div class='alert alert-success alert-dismissible' role='alert'>User account created successfully. Check your email for login details.</div>");
                $("#login").addClass("btn btn-primary btn-lg btn-block login-button");
                $("#login").removeClass("btn btn-primary btn-lg btn-block login-button");
               
            }

           }
       });
});
  </script>
  {% endblock %}